body {
    font-family: "Lato", sans-serif;
    background-image: url("cool-background\ \(6\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(13, 4, 61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
    box-shadow: 10px 20px 50px rgb(255, 255, 255);
  }

  h2{

    font-size: 50px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1ecec;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }



  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .con{
    

    margin-top: 40%;
  }





  
  .openbtn {
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgb(209, 203, 198);
    width: 300px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: auto;
   
    position: fixed;
    z-index: 1;
    
  }
  
  .openbtn:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 20px 50px rgb(255, 255, 255);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    transition: 0.9s;
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 55px;
        width: auto;
    
    
    }
    .sidebar a {font-size: 8px;}

    

    
    
  }